<% include partials/header %>

<body style="background-color:rgb(240, 240, 240)">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:white">
    <a class="navbar-brand" href="#"><i class="fab fa-reddit-alien"></i> didit<div class="spinner-grow text-success"
        role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">

        <!-- <li class="nav-item navbar-nav">
                    <a class="nav-link" href="login.html"><button type="button" class="btn btn-success"  style="padding:2px; margin-left: 1px;margin-right: 1px;"><i class="fas fa-sign-in-alt"></i> Log
                            in</button></a>
                </li> -->
        <!-- <li class="nav-item navbar-nav">
                    <a class="nav-link" href="#"><button type="button" class=" btn btn-success" style="padding:2px;margin-left: 1px;margin-right: 1px;"><i class="fas fa-sign-in-alt"></i> Sign
                            Up</button></a>
                </li> -->
      </ul>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Log In
      </button>

      <!-- Button trigger modal -->
      <button style="margin-left:2em;" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
        Sign Up
      </button>


    </div>
  </nav>


  <!-- Login Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <button type="submit" class="btn btn-secondary">
              <div style="margin-right:1em;" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only"></span>
              </div>Log In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- SignUp Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="/signup" method="POST">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input name="firstname" type="text" class="form-control" id="validationServer01" placeholder="First name"
                  value="Mark" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input name="lastname" type="text" class="form-control" id="validationServer02" placeholder="Last name"
                  value="Otto" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="inputEmail4">e-mail</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                  </div>
                  <input name="e-mail" type="text" class="form-control" id="inputEmail4" placeholder="e-mail"
                    aria-describedby="inputGroupPrepend3" required>
                  <div class="invalid-feedback">
                    invalid e-mail.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationServer03">City</label>
                <input name="city" type="text" class="form-control" id="validationServer03" placeholder="City" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServer04">State</label>
                <input name="state" type="text" class="form-control" id="validationServer04" placeholder="State"
                  required>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServer05">Phone no</label>
                <input name="phone no" type="text" class="form-control" id="validationServer05" placeholder="Phone no"
                  required>
                <div class="invalid-feedback">
                  Please provide a valid zip.
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="password" required>
                  <div class="invalid-feedback">
                    Please provide a valid password.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="confirm"
                    required>
                  <div class="invalid-feedback">
                    Does not match with password.
                  </div>
                </div>
                <!-- <div class="col-md-3 mb-3">
                  <label for="validationServer05">Phone no</label>
                  <input name="phone no" type="text" class="form-control" id="validationServer05" placeholder="Phone no"
                    required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div> -->
              </div>
            <div class="form-group">
              <div class="form-check">
                <input name="agree" class="form-check-input" type="checkbox" value="true" id="invalidCheck3" required>
                <label class="form-check-label" for="invalidCheck3">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
                <!-- <div class="form-row">
                  <div class="col-md-6 mb-6">
                      <label for="exampleInputPassword1">Password</label>
                      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="password" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                      <div class="col-md-6 mb-3">
                          <label for="exampleInputPassword1">Confirm password</label>
                          <input name="confirmedpassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="confirm password" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                      </div>
                    </div>
                </div>   -->
            <button type="submit" class="btn btn-secondary">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only"></span>
              </div>
              Sign Up
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>






  <div class="row">

    <div class="col-md-8">
      <div class="card" style="width: 40rem; margin-top: 5em; margin-left: 5rem;">
        <h5 class="card-title"></h5>
        <img src="../images/images (1).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary"><i class="fas fa-thumbs-up"></i></a>
        </div>
      </div>

      <div class="card" style="width: 40rem;  margin-left: 5rem;">
        <img src="../images/a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary"><i class="fas fa-thumbs-up"></i></a>
        </div>
      </div>

      <div class="card" style="width: 40rem;  margin-left: 5rem;">
        <img src="../images/images (32).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary"><i class="fas fa-thumbs-up"></i></a>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="card" style="width: 18rem; margin-top: 5em; position: fixed; right: 0; ">
        <img src="../images/pexels-photo-841130.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fito Fit Gym</h5>
          <p class="card-text">More than strength</p>
          <a href="fitCenter" class="btn btn-primary">info</a>
        </div>
      </div>



      <div class="card" style="width: 18rem; margin-top: 5em; position: fixed; right: 0; margin-top:30rem; height: 50px;">
        <img src="../images/TqRg.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Facebook ads</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

  <% include partials/footer %>

  