<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FitofitGym</title>
    <link rel="stylesheet" href="./css/syle.css">
</head>
<body>
    <div>
        <h1> <img src="./image/moving.gif" alt="gif"><br>Fito Fit Gym</h1>
        <p>New gym is Comming to your area!</p>
        <button>Call us +2348135001380</button>
    </div>
</body>
</html>