body{
    background: url("../image/gym.jpeg") no-repeat center center fixed;
    background-size: cover;  
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

div{
    background-color: #dd4814;
    width:50%;
    margin: 100px auto;
    text-align: center;
    border-radius: 25px;
    opacity: 0.8;
}

button{
    background: rgb(145, 139, 139);
    padding: 20px;
    color: black;
    font-size: 2em;
    border-radius: 10px;

}
h1{
    font-size: 4em;
}

p{
    font-size: 1.8em;
}
img{
   width: 5%;
}
